<div class="add_new_user">
<h2>Add New User</h2>
 <form action="./users_list" method="post">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Email:<br>
  <input type="text" name="email">
</form>
<button id="btn">Submit</button>
</div>
<script src="/js/add_user.js"></script>
